.pokemon {
    display :inline-grid;
    grid-template-columns: auto auto auto;
    cursor: pointer;
    text-transform: capitalize;
}

button{
    position: sticky;
    margin: 10px;
    height: 50px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
    color:rgb(122, 12, 12);
}

.backgroundImg{
    background-color: darkslategray;
}

.card__ability{
    
    text-transform: capitalize;
}

.card__abilities{
    
    text-transform: capitalize;
}

th{
    font-weight: bold;
}