.pokemon {
    display :flex;
    flex-direction: row;
    justify-content:flex-start;
    cursor: pointer;
}
button{
    position: sticky;
    margin: 10px;
    height: 50px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
    color:rgb(122, 12, 12);
}
.backgroundImg{
    background-color: darkslategray;
}
.card_name{
    text-transform: capitalize;
}